#side-menu-container {
    height: 100%;
    position: relative;
    padding: 1em;
    flex: 0 0 15%;
    box-shadow: 1px 6px 10px #cac8c8;
}
.menu-element {
    min-height: 15%;
    display: flex;
    padding: 1em 0;
    border-bottom: solid 1px #40EC6D;
}
#user-info>img {
    width: 40px;
    height: 40px;
    margin: auto 0;
}
#user-info>span {
    margin: auto 1em;
}

#balance {
    flex-direction: column;
}
#balance>p {
    margin-top: 0;
}
#menu-list {
    height: 58%;
    border: none;
    padding: 0;
}
#menu-list>li {
    list-style: none;
    padding: 1em 0;
}
.active {
    color: #1D6C32;
}