.content-container {
    height: 100%;
    padding: 1em 5em;
    -webkit-flex: 0 0 85%;
    flex: 0 0 85%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.content-container h1 {
    color: #1D6C32;;
}